.content {
  border: 1px solid var(--gray-400);
  margin-top: 1.5rem;
  background: var(--gray-500);
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);

  display: flex;
  justify-content: space-between;
  gap: 0.75rem;

  transition: 0.2s;

  &:hover {
    // background: var(--gray-400);
  }

  button:first-child {
    cursor: pointer;
  }

  .buttonCheckFalse {
    border: 2px solid var(--blue);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: transparent;

    svg {
      visibility: hidden;
    }
  }

  .buttonCheckTrue {
    border: 2px solid var(--purple);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--purple);

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: var(--gray-100);
    }
  }

  svg {
    transition: 0.2s;
    &:hover {
      color: var(--gray-300);
      cursor: pointer;
    }
  }

  transition: 0.2s;

  .textLine {
    text-decoration: line-through;
    color: var(--gray-300);
  }
}

.text {
    display: flex;
    gap: 8px;
}
